<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="generar-qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Generar QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bie-prof">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>