<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="text-align: center;">
      <h3>Captura de Código QR</h3>
    </ion-card-header>
    <ion-card-content>
      <!-- Lector de qr -->
      <ion-grid style="text-align: center;">
        <ion-row>
          <ion-col>
            <h1>╔</h1>
          </ion-col>

          <ion-col>
            <h1>╗</h1>
          </ion-col>
        </ion-row>

        <ion-row style="padding-top: 150px;">
          <ion-col>
            <h1>╚</h1>
          </ion-col>

          <ion-col>
            <h1>╝</h1>
          </ion-col>

        </ion-row>
      </ion-grid>
      <!-- Boton de camara -->
      <ion-item lines="none">
        <ion-button slot="end" size="medium"><ion-icon name="camera-reverse-outline"></ion-icon></ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
