<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="capturar-qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Capturar QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bie-alum">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>